$base-blue: #CAE6FF;
$dark-blue: #15ABFF;
$light-blue: #52C1FF;
$gray: #C4C4C4;
$white: #FFF;
$black: #000000;
$primary-dark: #1E1E23;
$secondary-dark: rgb(45, 45, 53);

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');